---
const { movie } = Astro.props;
const imgBase = "https://image.tmdb.org/t/p/w500";
---

<div class="movie-card">
  <img src={movie.poster_path ? `${imgBase}${movie.poster_path}` : "/placeholder.png"} alt={movie.title} />
  <div class="info">
    <h2>{movie.title}</h2>
    <p>Rating :  {movie.vote_average.toFixed(1)}</p>
    <a href={`/movie/${movie.id}`} class="btn">More Info</a>
  </div>
</div>
